body {
  margin: 0;
  font: 14px/14px "微软雅黑", "宋体";
  color: #777777;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
.head {
  width: 1366px;
  height: 60px;
  background-color: #1cc09f;
  position: fixed;
  top: 0;
  left: 0;
}
.head h1 {
  float: left;
  height: 60px;
  width: 260px;
  background: url(../images/logo.png) no-repeat;
  text-indent: -9999px;
}
.head .fun {
  float: right;
  overflow: hidden;
  padding-top: 20px;
}
.head .fun li {
  float: left;
  margin-right: 46px;
}
.head .fun li span {
  display: inline-block;
  vertical-align: middle;
}
.head .fun li .icon {
  width: 14px;
  height: 14px;
  background-image: url(../images/xuebi.png);
}
.navpage {
  display: none;
  width: 260px;
  height: 540px;
  padding-top: 20px;
  background-color: #283643;
  position: fixed;
  top: 60px;
  left: 0;
}
.navpage li {
  width: 260px;
  height: 54px;
  text-align: left;
  line-height: 54px;
  color: #b59978;
}
.navpage li label {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/active-icon1.png);
  vertical-align: middle;
  margin-right: 13px;
  margin-left: 18px;
}
.navpage li .color {
  background-image: url(../images/icons.png);
}
.navpage li:hover {
  background: #1cc09f;
  color: #fff;
}
.navpage .active {
  background: #1cc09f;
  color: #fff;
}
.content {
  padding: 20px 40px ;
  margin-top: 60px;
}
.content header {
  margin-bottom: 30px;
}
.content header h3 {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: bottom;
  color: #000000;
}
.content header span {
  font-size: 20px;
}
