.content {
  background-color: #f3f3f3;
}
.content .block {
  box-sizing: border-box;
  position: absolute;
  top: 65px;
  left: 0px;
  width: 23px;
  height: 36px;
  background-color: #cfcece;
  text-align: center;
  padding-top: 10px;
}
.content .block span {
  display: inline-block;
  border-left-color: #283643;
}
.content .subnav {
  height: 56px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
  padding-left: 20px;
}
.content .subnav a,
.content .subnav span {
  line-height: 56px;
}
.content .subnav .active {
  color: #777777;
}
.content .form-pic {
  overflow: hidden;
  margin-bottom: 35px;
}
.content .form-pic li {
  float: left;
  box-sizing: border-box;
  padding: 14px 0 0 14px;
  width: 298px;
  height: 242px;
  margin-right: 25px;
}
.content .form-pic li img {
  width: 50px;
  opacity: 0.5;
}
.content .form-pic li .pic {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 14px;
}
.content .form-pic li .number {
  width: 194px;
  height: 124px;
  margin-left: 90px;
  background-color: #fff;
}
.content .form-pic li .number span {
  display: block;
  text-align: center;
}
.content .form-pic li .number .fonts {
  font-size: 60px;
  line-height: 60px;
  padding-top: 35px;
}
.content .form-pic li .number .title {
  font-weight: bold;
}
.content .form-pic li:nth-of-type(1) {
  background-color: #1cc09f ;
}
.content .form-pic li:nth-of-type(2) {
  background-color: #63a3df ;
}
.content .form-pic li:nth-of-type(3) {
  background-color: #fb5651 ;
}
.content .form-pic li:nth-of-type(4) {
  margin-right: 0;
  background-color: #e6a548 ;
}
.content .line-chart {
  height: 415px;
  background-color: #fff;
}
.content .percent {
  overflow: hidden;
  margin-top: 22px;
}
.content .percent span {
  display: block;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}
.content .percent li {
  float: left;
  width: 298px;
  height: 211px;
  margin-right: 25px;
  background-color: #fff;
}
.content .percent li:nth-of-type(4) {
  margin-right: 0;
}
.content .percent div {
  width: 150px;
  height: 160px;
  margin-left: 80px;
}
.content .bar-cook {
  margin-top: 22px;
  overflow: hidden;
}
.content .bar-cook .bar {
  float: left;
  width: 944px;
  height: 415px;
  background-color: #fff;
  margin-right: 28px;
}
.content .bar-cook .cook {
  float: left;
  width: 297px;
  height: 415px;
  background-color: #fff;
}
