.content {
  box-sizing: border-box;
  background-color: #f3f3f3;
  position: relative;
  left: 0;
  top: 0;
  transition: 1s;
}
.content .subnav {
  height: 56px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
  padding-left: 20px;
}
.content .subnav a,
.content .subnav span {
  line-height: 56px;
}
.content .subnav .active {
  color: #777777;
}
.content .form-pic {
  overflow: hidden;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.content .form-pic li {
  box-sizing: border-box;
  padding: 14px 0 0 14px;
  width: 23.08305752561072%;
  height: 242px;
  margin-right: 25px;
}
.content .form-pic li img {
  width: 50px;
  opacity: 0.5;
}
.content .form-pic li .pic {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 14px;
}
.content .form-pic li .number {
  height: 124px;
  margin-left: 90px;
  background-color: #fff;
}
.content .form-pic li .number span {
  display: block;
  text-align: center;
}
.content .form-pic li .number .fonts {
  font-size: 60px;
  line-height: 60px;
  padding-top: 35px;
}
.content .form-pic li .number .title {
  font-weight: bold;
}
.content .form-pic li:nth-of-type(1) {
  background-color: #1cc09f ;
}
.content .form-pic li:nth-of-type(2) {
  background-color: #63a3df ;
}
.content .form-pic li:nth-of-type(3) {
  background-color: #fb5651 ;
}
.content .form-pic li:nth-of-type(4) {
  margin-right: 0;
  background-color: #e6a548 ;
}
.content .line-chart {
  height: 415px;
  background-color: #fff;
}
.content .percent {
  overflow: hidden;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}
.content .percent span {
  display: block;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}
.content .percent li {
  width: 298px;
  height: 211px;
  margin-right: 25px;
  background-color: #fff;
}
.content .percent li:nth-of-type(4) {
  margin-right: 0;
}
.content .percent div {
  width: 150px;
  height: 160px;
  margin: 0 auto;
}
.content .bar-cook {
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.content .bar-cook .bar {
  width: 86.68503213957759%;
  height: 415px;
  background-color: #fff;
  margin-right: 28px;
}
.content .bar-cook .cook {
  float: left;
  width: 27.27272727272727%;
  height: 415px;
  background-color: #fff;
}
.content .area {
  height: 415px;
  margin-bottom: 22px;
  background-color: #fff;
}
.content .tasks-table {
  display: flex;
  justify-content: space-between;
}
.content .tasks-table h3 {
  line-height: 56px;
}
.content .tasks-table .tasks {
  box-sizing: border-box;
  padding: 0 15px;
  width: 37.37373737373737%;
  height: 355px;
  margin-right: 17px;
  background-color: #fff;
}
.content .tasks-table .tasks .shuju {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.content .tasks-table .tasks .shuju li {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 17px;
  box-sizing: border-box;
  overflow: hidden;
}
.content .tasks-table .tasks .shuju li div {
  float: left;
  width: 60.06944444444444%;
  word-wrap: break-word;
}
.content .tasks-table .tasks .shuju li div label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  vertical-align: top;
  /* background: url(images/active-icon1.png) no-repeat; */
}
.content .tasks-table .tasks .shuju li div a {
  line-height: 14px;
  color: #777777;
}
.content .tasks-table .tasks .shuju li .time {
  width: auto;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 12px;
  line-height: 18px;
  padding: 0 7px;
  background-color: #1cc09f;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 18px;
}
.content .tasks-table .tasks .shuju li:nth-last-of-type(1) {
  border-bottom: none;
}
.content .tasks-table .tasks .more {
  float: right;
  margin-top: 15px;
}
.content .tasks-table .table {
  box-sizing: border-box;
  padding: 0 15px;
  width: 77.5941230486685%;
  height: 355px;
  background-color: #fff;
}
.content .tasks-table .table table {
  border-collapse: collapse;
  width: 95.23809523809524%;
  height: 261px;
  text-align: left;
}
.content .tasks-table .table table thead {
  border-color: inherit;
  border: 1px solid #dddddd;
}
.content .tasks-table .table table tbody {
  border-color: inherit;
  border: 1px solid #dddddd;
  vertical-align: middle;
}
